import { Command } from "../../domain/Command";
import { Message, MessageEmbed } from "discord.js";
import { PGClient } from "../../domain/PGClient";

class (Name) extends Command {

    constructor(client: PGClient) {
        super(client, {
            name: "",
            description: "",
            usage: "",
            aliases: []
        })
    }

    run(message: Message, args: Array<string>) {
        
    }

}

export = (Name);